@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #1d3557;
    color: #fff;
    padding: 1px;
    text-align: center;
}

section{
    display: flex;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.form-box{
    position: relative;
    width: 400px;
    height: 500px; 
    background: #f1faee;
    border: 1px solid #ccc;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;  
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    color: #457b9d;
    text-align: center;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #000000;
    
}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-40%);
    color: #000000;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~label,
input:valid ~ label{
    top: -5px;
}

.inputbox input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #000000;
}

.inputbox i{
    position: absolute;
    color: #000000;
    right: 8px;
    font-size: 1.2em;
    top: 15px;
}

#icon-select{
    position: absolute;
    color: #000000;
    right: 8px;
    font-size: 1.2em;
}


select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    width: 165px;
    outline:0;
    background: #5c6664;
    background-image: none;
    padding: 5px 12px;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}

select::-ms-expand {
    display: none;
}

select:hover{
    border: 1px solid #F1FAEE;
}

.rol-select{
    position: relative;
    margin: 30px 0;
    width: 310px;
    
}

.rol-select .row-select {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #a8dadc;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

button:hover{
    border: 1px solid #457b9d;
}